<template>
  <div class="menu">
      <v-toolbar flat>   
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat>Home</v-btn>
      <v-btn flat>Before & After</v-btn>
      <v-btn flat>Portfolio</v-btn>
      <v-btn flat>Services & Fees</v-btn>
      <v-btn flat>Shop</v-btn>
      <v-btn flat>Wardrobe & Storage Design</v-btn>
      <v-btn flat>Moving</v-btn>
      <v-btn flat>Videos</v-btn>
      <v-btn flat>Branding</v-btn>
    </v-toolbar-items>
    <v-spacer></v-spacer>
  </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      page: 'Menu'      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.menu{
  width:100%;
}

</style>
