<template>
  <div class="subscribe">
     <v-parallax src="https://images.unsplash.com/photo-1496275068113-fff8c90750d1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d3f3415561bc1b63cdc05b6501ba5d5&auto=format&fit=crop&w=1500&q=80" :height="height">
     <v-layout column align-center justify-center>
      <h2 class="white--text display-3">Never miss the big event</h2>
      <h4 class="white--text">Drop your email now</h4>
          <v-toolbar
          class="mt-3"
          floating
          dense
          >
          <v-text-field prepend-icon="mail" hide-details single-line></v-text-field>
          <v-btn icon>
            <v-icon>keyboard_arrow_right</v-icon>
          </v-btn>
        </v-toolbar>
    </v-layout>
     </v-parallax>
  </div>
</template>

<script>
export default {
  name: 'Subscribe',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  computed: {
    height () {
      return window.innerHeight - 100
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
