<template>
  <div class="cities mx-auto">
    <v-container class="mb-5">
     <v-card flat class="ma-2">
        <v-card-title primary-title>
          <div>
            <div class="headline">Start From Your Favourite City</div>
            <span class="grey--text">600 packages in 10 cities</span>
          </div>
        </v-card-title>
      </v-card>
    <v-layout row wrap>
      <v-flex md6>
        <v-layout row wrap>
          <v-flex md6>
           <v-card class="ma-2 pa-2">
             <v-card-media src="https://images7.alphacoders.com/411/thumb-1920-411820.jpg" height="300px">
             <v-layout column align-center justify-end>
                   <v-btn large color="blue-grey lighten-5">DHARAN</v-btn>
                </v-layout>
             </v-card-media>
            </v-card>
          </v-flex>
          <v-flex md6>
            <v-card class="ma-2 pa-2">
               <v-card-media src="https://pix10.agoda.net/hotelImages/446/446280/446280_14091718070022218907.jpg?s=1024x768" height="300px">
               <v-layout column align-center justify-end>
                   <v-btn large color="blue-grey lighten-5">NAGARKOT</v-btn>
                </v-layout>
             </v-card-media>
            </v-card>
          </v-flex>
          <v-flex md6>
            <v-card class="ma-2 pa-2">
             <v-card-media src="https://pix10.agoda.net/hotelImages/446/446280/446280_14091718070022218907.jpg?s=1024x768" height="300px">
             <v-layout column align-center justify-end>
                   <v-btn large color="blue-grey lighten-5">BANDIPUR</v-btn>
                </v-layout>
             </v-card-media>
            </v-card>
          </v-flex>
          <v-flex md6>
            <v-card class="ma-2 pa-2">
              <v-card-media src="https://www.thebrokebackpacker.com/wp-content/uploads/2016/07/pokhara.jpg" height="300px">
              <v-layout column align-center justify-end>
                   <v-btn large color="blue-grey lighten-5">POKHARA</v-btn>
                </v-layout>
             </v-card-media>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex md6>
         <v-card class="ma-2 pa-2">
              <v-parallax height="632" src="https://wallpaperstock.net/kathmandu-ruins-wallpapers_33346_1600x1200.jpg">
                <v-layout column align-center justify-end>
                   <v-btn large color="blue-grey lighten-5">KATHMANDU</v-btn>
                </v-layout>
              </v-parallax>
            </v-card>
      </v-flex>
    </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'Cities',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      show: false,
      showMenu: false,
      fav: true,
      menu: false,
      message: false,
      hints: true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
