<template>
  <div class="home">
    <banner :pageName="this.page"></banner>
    <showcase></showcase>
  </div>
</template>

<script>
import Banner from '@/components/banner/Banner'
import Showcase from '@/components/showcase/Showcase'
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      page: 'Home'
    }
  },
  components: {
    'banner': Banner,    
    'showcase':Showcase
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
