<template>
  <div class="footer grey lighten-2">
     <v-container class="mt-4 mb-4">
        <v-layout row wrap>
           <v-flex xs2>
             <h3 class="mb-3">Recent</h3>
              
           </v-flex>
           <v-flex class="pr-3" xs4>
             <h3 class="mb-3">Supports</h3>
             <v-card-media src="https://findicons.com/files/icons/2102/preview/credit_card_debit_card_full.png" height="250px">
             </v-card-media>
           </v-flex>
           <v-flex xs6>
             <h3 class="mb-3">Contact</h3>
             <v-card
                img="http://www.respectmyplanet.org/publications/wp-content/uploads/2015/11/political-map-world-1200x813.jpg"
                flat
                height="300px"
                class="pa-3"
              >                
              </v-card>
           </v-flex>
        </v-layout>
     </v-container>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
