<template>
  <div class="footer-bottom grey lighten-5">
     <div class="ma-5 mx-auto" flat>
        <v-layout row wrap>
           <v-flex md3>
             This is footer bottom
           </v-flex>
        </v-layout>
      </div>
  </div>
</template>

<script>
export default {
  name: 'FooterBottom',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
