<template>
  <div class="blog">
    <banner :pageName="this.page"></banner>
     <v-container class="mb-5">
         <v-layout row wrap>
          <v-flex xs12 sm6 md4>
            <v-card class="ma-2 pa-2">
              <v-card-media src="https://i.ytimg.com/vi/jOrwlhBNu3Y/maxresdefault.jpg" height="200px">
              </v-card-media>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Kangaroo Valley Safari</h3>
                  <div>Located two hours south of Sydney in the <br>Southern Highlands of New South Wales, ...</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-card class="ma-2 pa-2">
              <v-card-media src="https://wallpaperbrowse.com/media/images/c31216424b811a9770b5b7dacb06fa3e.jpg" height="200px">
              </v-card-media>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Kangaroo Valley Safari</h3>
                  <div>Located two hours south of Sydney in the <br>Southern Highlands of New South Wales, ...</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
     </v-container>
  </div>
</template>

<script>
import Banner from '@/components/banner/Banner'
export default {
  name: 'blog',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      page: 'Blog'
    }
  },
  components: {
    'banner': Banner
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
