<template>
  <div class="showcase">
      <v-container class="pa-5" fluid grid-list-md>
    <v-layout row wrap>
      <v-flex d-flex xs12 sm6 md6>
        <v-card flat>
          <a href ="#" class="portfolio_item">                        
            <img src="../../assets/img/4.jpg" class="image"> 
            <div class="portfolio_item_hover">
                <div class="portfolio-border clearfix">
                    <div class="item_info">
                        <span>Project A</span>
                        <em>On Going</em>
                    </div>
                </div>
            </div>  
          </a>     
        </v-card>
      </v-flex>

      <v-flex d-flex xs12 sm6 md6>
        <v-layout row wrap>
          <v-flex d-flex xs12 sm12 md6>
            <v-card flat>
           <a href ="#" class="portfolio_item">                        
            <img src="../../assets/img/2.jpg" class="image"> 
            <div class="portfolio_item_hover">
                <div class="portfolio-border clearfix">
                    <div class="item_info">
                        <span>Project A</span>
                        <em>On Going</em>
                    </div>
                </div>
            </div>  
          </a>     
            </v-card>
          </v-flex>
          <v-flex d-flex xs12 sm12 md6>
            <v-card flat>
            <a href ="#" class="portfolio_item">                        
            <img src="../../assets/img/3.jpg" class="image"> 
            <div class="portfolio_item_hover">
                <div class="portfolio-border clearfix">
                    <div class="item_info">
                        <span>Project A</span>
                        <em>On Going</em>
                    </div>
                </div>
            </div>  
          </a>     
            </v-card>
          </v-flex>
          <v-flex d-flex xs12 sm12 md6>
            <v-card flat>
           <a href ="#" class="portfolio_item">                        
            <img src="../../assets/img/4.jpg" class="image"> 
            <div class="portfolio_item_hover">
                <div class="portfolio-border clearfix">
                    <div class="item_info">
                        <span>Project A</span>
                        <em>On Going</em>
                    </div>
                </div>
            </div>  
          </a>     
            </v-card>
          </v-flex>
          <v-flex d-flex xs12 sm12 md6>
            <v-card flat>
            <a href ="#" class="portfolio_item">                        
            <img src="../../assets/img/12.jpg" class="image"> 
            <div class="portfolio_item_hover">
                <div class="portfolio-border clearfix">
                    <div class="item_info">
                        <span>Project A</span>
                        <em>On Going</em>
                    </div>
                </div>
            </div>  
          </a>     
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
  </div>
</template>

<script>
export default {
  name: 'Showcase',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      page: 'Home',
      lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.image {
  width:100%;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;    
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #b3d3e2;
    padding: 5px 20px;
    border-radius: 25px;
    color: #333;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
</style>
