<template>
  <div id="app">
    <v-app>
    <v-toolbar flat :fixed="true" :scroll-off-screen="true" :scroll-threshold="250">
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <v-toolbar-title>
       <v-breadcrumbs>
      <v-icon slot="divider">forward</v-icon>
      <v-breadcrumbs-item>
        Menu
      </v-breadcrumbs-item>
      <v-breadcrumbs-item>
        Home
      </v-breadcrumbs-item>
    </v-breadcrumbs>

    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">      
      <v-btn class="main-color" flat>London : 1234567890 | Australia : 123456789</v-btn>
    </v-toolbar-items>
  </v-toolbar>
  <v-navigation-drawer
      temporary
      v-model="drawer"
      absolute
    >
      <v-list class="pa-1">
        <v-list-tile avatar>
         <img class="mess-logo" src="./assets/messgoddess4.png" >
        </v-list-tile>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile class="side-list" v-for="item in items" :key="item.title">
          <v-list-tile-action>
            <v-icon class="menu-icon">{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="menu-name">{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <router-view/>
    <page-footer></page-footer>
    <footer-bottom></footer-bottom>
    </v-app>
  </div>
</template>

<script>
import Footer from '@/components/footer/Footer'
import FooterBottom from '@/components/footer/FooterBottom'
export default {
  name: 'App',
  data () {
    return {
      drawer: null,
      items: [
        { title: 'Home', icon: 'keyboard_arrow_right' },
        { title: 'Before And After', icon: 'keyboard_arrow_right' },
        { title: 'Gallery', icon: 'keyboard_arrow_right' },
        { title: 'Services Provided', icon: 'keyboard_arrow_right' },
        { title: 'Price', icon: 'keyboard_arrow_right' },
        { title: 'Shop', icon: 'keyboard_arrow_right' },
        { title: 'Wardrobe And Storage Design', icon: 'keyboard_arrow_right' },
        { title: 'Moving', icon: 'keyboard_arrow_right' },
        { title: 'Videos', icon: 'keyboard_arrow_right' },
        { title: 'Branding', icon: 'keyboard_arrow_right' }        
      ]
    }
  },
  components: {
    'page-footer': Footer,
    'footer-bottom': FooterBottom
  },
  methods: {
    goTo: function(destination) {
      this.$router.push({ name: destination })
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@font-face {
  font-family: 'MyFont';
  src: url('./assets/AgaranomdProRegular.otf'); /* IE9 Compat Modes */
  src: url('./assets/AgaranomdProRegular.otf')  format('opentype'), /* Safari, Android, iOS */       
}
body{
  margin:0px;
  padding:0px;
}
#app {
  font-family: 'MyFont', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

h1,
h2,
h3,
h4,
h5,
p,
li{
  color: #322e6a;
}

.main-color{
  color:#322e6a !important;
}

.mess-logo{
  width:200px;
}

.side-list:hover{
  background: #322e6a;
  color:#fff;
  cursor: pointer;
}

.side-list:hover .menu-icon{ 
  color:#fff !important;  
}

.menu-name{
  font-size: 1.1rem;
}
</style>
