<template>
  <div class="banner">
    <v-parallax :height="height" :src="bannerImage">
     <v-layout column align-center justify-center>
       <img class="heading-logo" src="../../assets/messgoddess4.png">        
      <h4 class="dark--text">A decorating mind and soul.</h4>
    </v-layout>
    </v-parallax>
    <page-menu></page-menu> 
  </div>
</template>

<script>
import Menu from '@/components/menu/Menu'
export default {
  name: 'Banner',
  props: ['pageName'],
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      bannerImage: 'http://localhost:3000/bg9h2.jpg'
      
    }
  },
  components: {
    'page-menu': Menu
  },
  computed: {
    height () {
      if (this.pageName === 'Home') {
        return window.innerHeight - 64
      } else {
        this.bannerImage = 'http://static.hdw.eweb4.com/media/wallpapers_1920x1200/digital-art/1/1/dark-clouds-digital-art-hd-wallpaper-1920x1200-1458.jpg'
        return window.innerHeight - 200
      }

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.banner{
  margin-top:64px;
}

.heading-logo{
  max-width: 800px;
}

.menu-bar{
  width: 100%;  
  background: #fff;
}
</style>
